@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Raleway:wght@200;300;400;500;800&display=swap');;;



.body{
	overflow-X:hidden;
}

.header_sec{
	width:100%;
	background-color:rgb(0,0,0,0.4);
	height:120px;
}


#logo{
	float:left;
	padding-left:5%;
	padding-top:20px;
	position:absolute;
}

.navbar{
	color:#E2EAF0;
	width:80%;
	float:right;
	opacity:78%;
}

.navbar ul{
	float:right;
	display:inline;
	text-align:center;
	list-style-type: none;
	margin-right:150px;;
}

.navbar li{
	float:left;
	width:150px;
}


.navbar a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family:'Open Sans';
	font-weight:400;
	float:left;
	width:110px;
	margin-left:100px;
}

.navbar a.active {
	font-family:'Open Sans';
	font-weight:600;
}

.banner_sec{
	background-image:url('../images/banner_bg.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
	height:940px;
}

.banner_content{
	float:left;
	padding-top:150px;
	padding-left:5%;
	width:45%;
}

.banner_content h1{
	color:#FFFFFF;
	font-family:'Raleway';
	font-weight:800;
	font-size:70px;
}

.banner_content p{
	color:#FFFFFF;
	font-family:'Raleway';
	font-weight:500;
	font-size:20px;
}

#btn_exp{
	background-color:#FFFFFF;
	color:#04151F;
	font-family:'Raleway';
	font-weight:500;
	font-size:16px;
	width:150px;
	border-radius:25px;
	height:50px;
	text-align:center;
	border:none;
	margin-top:50px;
	text-transform:uppercase;
}
.tour_sec{
	margin-top:80px;
	margin-left:5%;
	margin-right:5%;
}

.tour_sec1{
	margin-top:80px;
	margin-left:5%;
	margin-right:5%;
	border-top:solid;
}

.tour{
	padding-top:50px;
	background-color:#E2EAF0;
	height:600px;
	float:right;
	width:65%;
}
#img_featured_1{
	width:35%;
	height:650px;
}
.tour_content{
	width:70%;
	padding-left:5%;
}

.tour_content h1{
	font-family:'Open Sans';
	font-weight:800;
	font-size:25px;
	color:#04151F;
	text-transform:uppercase;
}

.tour_content p{
	font-family:'Raleway';
	font-weight:400;
	font-size:16px;
	color:#04151F;
}
.tour_content p.p1{
	font-family:'Raleway';
	font-weight:400;
	font-size:15px;
	color:#707070;
}

.images{
	margin-top:5%;
}

.image{
	margin-top:25px;
	margin-right:10px;
	width:22%;
	border-radius:5px;
}

#img_map{
	width:50%;
	height:700px;
	margin-top:80px;
}

.tour1{
	margin-top:80px;
	height:700px;
	float:right;
	width:45%;
	padding-right:5%;
}

.image1{
	float:left;
	width:50%;
	height:350px;
}

#btn_exp2{
	background-color:#C49D48;
	color:#E2EAF0;
	font-family:'Open Sans';
	font-weight:400;
	padding:5px;
	width:30%;
	height:60px;
	border-radius:5px;
	margin-top:150px;
	margin-left:10%;
	border:none;
	font-size:16px;
	text-align:center;
	text-transform:uppercase;
}

#img_compass_icon{
	float:left;
	padding-left:15px;
}

#img_arrow_right_icon{
	float:right;
	padding-top:5px;
	padding-right:25px;
}

.tour_content_2{
	margin-top:150px;
	padding-top:50px;
	padding-left:5%;
	padding-right:5%;
	width:90%;
}

.tour_content_2 h1{
	font-family:'Open Sans';
	font-weight:800;
	font-size:25px;
	color:#04151F;
	text-transform:uppercase;
}

.tour_content_2 p{
	font-family:'Raleway';
	font-weight:400;
	font-size:16px;
	color:#04151F;
}

.content{
	margin-top:100px;
	text-align:center;
	width:40%;
	padding-left:30%;
	
}


.img_gallery{
	margin-top:80px;
	width:30%;
	margin-right:3.3%;
}

.img_gallery1{
	margin-top:80px;
	width:30%;
}


.content h1{
	font-family:'Open Sans';
	font-weight:800;
	font-size:25px;
	color:#04151F;
	text-transform:uppercase;
}

.content p{
	font-family:'Raleway';
	font-weight:400;
	font-size:16px;
	color:#04151F;
}

.vid_gallery{
	margin-top:80px;
	overflow:hidden;
}
.vidg{
	background-image:linear-gradient(0deg, rgba(196,157,72,1) 0%, rgba(196,157,72,0.78) 0%, rgba(255,255,255,0) 100%);
	height:180px;
	width:290px;
	border-radius:8px;
}

.vidg a{
	float:left;
	margin-top:80px;
	margin-left:43%;
}

.vidcont{
	display:inline-block;
	float:left;
	overflow-X:hidden;
}

#video_thumb1{
	background-image:url("../images/video_thumb_1.png");
	height:180px;
	width:290px;
	background-size:cover;
	background-repeat:no-repeat;
	margin-right:10px;
	float:left;
	position:relative;
	margin-top:10px;
	border-radius:8px;
}

#video_thumb2{
	background-image:url("../images/video_thumb_2.png");
	height:180px;
	width:290px;
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	margin-right:10px;
	position:relative;
	margin-top:10px;
	border-radius:8px;
}#video_thumb3{
	background-image:url("../images/video_thumb_3.png");
	height:180px;
	width:290px;
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	margin-right:10px;
	margin-top:10px;
	position:relative;
	border-radius:8px;
}#video_thumb4{
	background-image:url("../images/video_thumb_4.png");
	height:180px;
	width:290px;
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	border-radius:8px;
	margin-right:10px;
	position:relative;
	margin-top:10px;
}#video_thumb5{
	background-image:url("../images/video_thumb_5.png");
	height:180px;
	width:290px;
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
	border-radius:8px;
	margin-top:10px;
	margin-left:1200px;
}


.msg_sec{
	margin-top:80px;
	width:100%;
	background-color:#617789;
}

.msg_content{
	margin-top:80px;
	padding-top:50px;
	padding-left:15%;
	padding-bottom:70px;
}

.msg_content h1{
	color:#E2EAF0;
	font-family:'Open Sans';
	font-size:25px;
	text-transform:uppercase;
	font-weight:800;
}
.msg_content p{
	color:#F6F6F6;
	font-family:'Open Sans';
	font-size:16px;
	font-weight:400;
}
.msg_content input{
	height:60px;
	width:55%;
	border-radius:5px;
	border:none;
	padding-left:3%;
	margin-right:10px;
}

.msg_content input::placeholder{
	color:#CCCCCC;
	font-family:'Open Sans';
	font-weight:400;
	font-size:16px;	
}

.msg_content button{
	background-color:#C49D48;
	padding:5px 10px 5px 10px;
	border:none;
	border-radius:5px;
	width:22%;
	height:40px;
	color:#E2EAF0;
	text-align:center;
	font-size:18px;
	font-family:'Open Sans';
	font-weight:600;
	text-transform:uppercase;
	height:60px;
}
.msg_content button img{
	float:left;
	padding-left:5%;
}

.footer_content{
	padding-top:80px;
	padding-bottom:80px;
	padding-left:5%;
	height:150px;
}


.footer_content h1{
	color:#688095;
	font-family:'Open Sans';
	font-weight:800;
	font-size:20px;
}

.p1{
	color:#AAA9A9;
	font-family:'Open Sans';
	font-weight:400;
	font-size:16px;
}

.footer_content ul, li{
	color:#AAA9A9;
	font-family:'Open Sans';
	font-weight:400;
	font-size:16px;
}

.footer_content p{
	color:#688095;
	font-family:'Open Sans';
	font-weight:400;
	font-size:16px;
}

.footer_logo{
	float:left;
	width:27%;
}

.footer_links{
	padding-left:10%;
	float:left;
	width:25%;
}

.copyright{
	margin-top:80px;
	width:100%;
	background-color:#688095;
	height:50px;
}

.copy_content{
	float:left;
	color:#E2EAF0;
	margin-left:5%;
	font-family:'Open Sans';
	font-size:16px;
}

.copy_content1{
	margin-right:5%;
}

.copy_content1 p, a{
	float:right;
	text-decoration:none;
	color:#E2EAF0;
	margin-left:2%;
	margin-top:15px;
	font-family:'Open Sans';
	font-size:16px;
}
